td
{
    font-family:monospace;
}

.empty
{
    visibility: hidden;
}

.block
{
    color:#000;
    background-color:#000;
}

table
{
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
}